body {
  font-family: "Poppins", sans-serif;
}


h1,
h2,
h3,
h4 {
  color: #363636;
}

h1 {
  display: inline;
  font-weight: bold;
}
#name {
  color: #feb633;
}

a {
  padding: 15px 5px 10px 5px;
  text-align: center;
  margin-left: 20px;
  margin-top: 5px;
  padding-top: 15px;
  color: #363636;
}

/*----------Navbar Container----------*/
.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background-color: white;
}

/*----------LANDING PAGE----------*/
.landing-page
h1,
h2,
h3 {
  color: white;
}

.landing-page {
  height: 100vh;
  background: url(../MEDIA/landing-page-background.png) no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*----------NAVBAR----------*/
.brand--style {
  font-weight: bold;
  color: #feb633 !important;
  font-size: 2.5rem;
  font-family: serif;
}
.navbar-light .navbar-toggler {
  color: white;
  border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler-icon {
  border: 0;
  color: white;
}

#item--style {
  font-weight: bold;
  color: #363636;
}
#item--style:hover {
  color: #feb633;
}

.btn--yellow {
  color: white;
  background-color: #feb633;
  border-color: #feb633;
}
.btn--yellow--empty {
  color: white;
  border-color: #feb633;
}

.btn--cta {
  font-weight: bold;
  border-radius: 30px;
  height: 61px;
  width: 178px;
  text-align: center;
  height: 3.81rem;
  width: 11.25rem;
}

.buttons-container {
  padding-left: 0px;
}
.nav-link {
  padding: 1rem 1rem;
}

/*******About Me ****/

h5 {
  margin-top: 2%;
  margin-left: 2%;
}

#about-row {
  padding-top: 10%;
  margin-bottom: 5%;
}

#image {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../MEDIA/about-me.svg);
}

#image-inner {
  display: block;
  height: 0;
  padding-top: 97.9%;
}

#about h3 {
  text-align: left;
  color: #363636;
}

.my-intro-text {
  color: #feb633;
  }

.about--text {
  display: inline;
  position: relative;
  padding-left: 5%;
  padding-top: 5%;
}
.fas,
.far {
  color: #feb633;
}

/******Skillz******/

#skills {
  background-color: #feb6332b;
  width: 100%;
  height:auto;
  padding-top:10%;
  padding-bottom: 10%;
  text-align:center;
}

#skills h3{

     text-align: center;
     color: #363636;
}

#skills-row{
    text-align: center;
    display:inline-flex;
}

.skill-col{
    height:16em;
    width: 16em; 
    background-color: white;
    text-align: center;
    display: inline-block;
    padding-top:3.25em;
    margin-left:0.5em;
}    

/******Media******/

@media (max-width: 768px) {

.my-intro-text {
    text-align: center;
      }

  #about h3 {
    text-align: center;
  }

  .about--text--md {
    padding-top: 5%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #about-me-logo {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px), (max-width: 768px) {

.my-intro-text {
    text-align: center;
      }

  #about-me-logo {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about--text {
    flex: 0 0 100%;
    max-width: 100%;
  }

  

  #about h3 {
    text-align: center;
  }
}

@media (min-width: 767px) {
  .padding-140 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
    background-color: rgb(128, 128, 128, 0.5);
  }
  .navbar-container {
    background-color: transparent;
  }

  #item--style {
    color: white;
    opacity: 1;
  }

  #item--style:active {
    color: #feb633;
  }

  #item--style:hover {
    color: #feb633;
  }
  .h1-wrapper {
    padding-left: 0px;
  }
  h2 {
    padding-top: 1.7em;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 4em;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 2.1em;
    margin-top: 10px;
  }

  h1 {
    display: inline;
    font-weight: bold;
    font-size: 5.3em;
  }
  .padding-140 {
    padding-left: 8%;
    padding-right: 10%;
  }
  /***About me***/
  #about-row {
    padding-top: 12%;
    padding-bottom: 5%;
  }

  #about-me-logo {
    flex: 0 0 50%;
    max-width: 661px;
  }

  .about--text {
    flex: 0 0 50%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .padding-140 {
    padding-left: 12%;
    padding-right: 5%;
  }
}
