body {
   font-family: 'Poppins', sans-serif;
}

h1,h2,h3 {
    color:white;
}

h1 {
    display:inline;
    font-weight:bold;
    }
#name {
    color:#FEB633;
}

a {
    padding:5px 15px 5px 10px;
    }

/*----------Navbar Container----------*/
.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color: white;
}


/*----------LANDING PAGE----------*/


.landing-page {
    height: 100vh;
    background: url(../MEDIA/landing-page-image.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*----------NAVBAR----------*/
.brand--style {
    font-weight: bold;
    color:#FEB633 !important;
    font-size: 2.5rem;
    font-family: serif;
}

#item--style {
    font-weight: bold;
    color:#363636;
    
}
#item--style:hover { 
        color:#FEB633 ;
}

.btn--yellow {
    color:white;
    background-color:#FEB633;
    border-color:#FEB633;

}
.btn--yellow--empty{
    color:white;
    border-color:#FEB633;
}

.btn--cta {
    font-weight: bold;
    border-radius:23px;
  
  }


  /******Media******/

  @media (max-width: 576px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        
    }

    .navbar .navbar-collapse {
         text-align: center;
         background-color: rgb(128, 128, 128,0.75);
         
        }
    .navbar-container {
        
         background-color: transparent;
    }

    
    #item--style {
        color: white;
        opacity:1;
    }

    #item--style:active { 
        color:#FEB633 ;
    }    
    
    #item--style:hover { 
        color:#FEB633 ;
    }
    
}